In [14]:
import pandas as pd
print(pd.__version__)

given_list = [2,4,5,6,9]
series = pd.Series(given_list)
print(series)

given_list = [2,4,5,6,9]
series = pd.Series(given_list,index = [1,3,5,7,9])
print(series)

date_series = pd.date_range(start = '05-01-2021',end = '05-12-2021')
print(date_series)

series = pd.Series([2,4,6,8,10])
print(series)
print()
modified_series = series.apply(lambda x:x/2)
print(modified_series)

dictionary = {'name':['vinay','kushal','amen'],
              'age':[22,25,24],
              'occ':['engineer','doctor','accountant']}

dataframe = pd.DataFrame(dictionary)
print(dataframe)

lists = [[2,'vishal',22],
         [1,'kushal',25],
         [1,'amen',24]]
dataframe = pd.DataFrame(lists,columns = ['id','name','age'])
print(dataframe)

dataframe = pd.read_csv('data.csv')
print(dataframe)

dataframe_customindex = dataframe.set_index('id')
print(dataframe_customindex)

print(dataframe)
dataframe_sorted = dataframe.sort_index()
print(dataframe_sorted)

dataframe_sorted = dataframe.sort_values(by = ['id','age'])
print(dataframe_sorted)

dataframe = dataframe_customindex.reset_index()
print(dataframe)

print(dataframe)

print()

O = dataframe['name']
print(O)

O = dataframe.iloc[:,1]
print(O)

O = dataframe.loc[:,'name']
print(O)

print(dataframe)

O = dataframe.iloc[[0,1],:]
print(O)

O = dataframe.loc[[0,1],:]
print(O)

2.0.3
0    2
1    4
2    5
3    6
4    9
dtype: int64
1    2
3    4
5    5
7    6
9    9
dtype: int64
DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')
0     2
1     4
2     6
3     8
4    10
dtype: int64

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
     name  age         occ
0   vinay   22    engineer
1  kushal   25      doctor
2    amen   24  accountant
   id    name  age
0   2  vishal   22
1   1  kushal   25
2   1    amen   24
   id    name  age         occ
0   2  Vishal   22    engineer
1   3  Kushal   25      doctor
2   1    Aman   24  accountant
      name  age         occ
id
2   Vishal   22    engineer
3   Kushal   25      doctor
1     Aman   24  accountant
   id    name  age         occ
0   2  Vishal   22    engineer
1   3  Kushal   25      doctor
2   1    Aman   24  accountant
   id    name  age         occ
0   2  Vishal   22    engineer
1   3  Kushal   25      doctor
2   1    Aman   24  accountant
   id    name  age         occ
2   1    Aman   24  accountant
0   2  Vishal   22    engineer
1   3  Kushal   25      doctor
   id    name  age         occ
0   2  Vishal   22    engineer
1   3  Kushal   25      doctor
2   1    Aman   24  accountant
   id    name  age         occ
0   2  Vishal   22    engineer
1   3  Kushal   25      doctor
2   1    Aman   24  accountant

0    Vishal
1    Kushal
2      Aman
Name: name, dtype: object
0    Vishal
1    Kushal
2      Aman
Name: name, dtype: object
0    Vishal
1    Kushal
2      Aman
Name: name, dtype: object
   id    name  age         occ
0   2  Vishal   22    engineer
1   3  Kushal   25      doctor
2   1    Aman   24  accountant
   id    name  age       occ
0   2  Vishal   22  engineer
1   3  Kushal   25    doctor
   id    name  age       occ
0   2  Vishal   22  engineer
1   3  Kushal   25    doctor